$dark-green: rgb(25,45,46);
$grey-white: rgba(234, 234, 232, 1);
$transparent-white2: rgba(255, 255, 255, 0.2);

*,*:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

input, select {
  height: 36px;
  padding: 0 12px;
  font-size : 16px;
  line-height : 24px;
  box-shadow: 0 0 0 1px $transparent-white2;
  background : $grey-white;
  border-style : Solid;
  border-color : $dark-green;
  border-width : 2px;
  border-radius: 18px;
}